/* testimonial section start */

.testimonial_section {
  width: 100%;
  float: left;
  padding-bottom: 180px;
}
.testimonial_taital {
  width: 100% !important;
  float: left !important;
  font-size: 40px !important;
  color: #2c2420 !important;
  text-align: center !important;
  font-weight: bold !important;
  font-family: "Roboto", sans-serif !important;
}
.testimonial_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #2c2420;
  text-align: center;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
.testimonial_section_2 {
  width: 100%;
  float: left;
  padding-top: 40px;
  padding-bottom: 10px;
}
.testimonial_box {
  width: 100%;
  background-color: #ffffff;
  padding: 55px 30px 100px 30px;
  box-shadow: 0px 2px 12px 10px #f3f2f2;
}
.jonimo_text {
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  /* color: #13a25d !important; */
  color: #ff3366 !important;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.dummy_text {
  width: 100%;
  font-size: 16px;
  color: #000;
  margin: 0px;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
}
.jonimo_taital_main {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #363636;
}
.quick_icon {
  float: right;
}
.quick_icon_1 {
  display: none;
}

.testimonial_box:hover {
  /* background-color: #13a25d; */
  background-color: #fe4e7a;
}
.testimonial_box:hover .dummy_text {
  color: #ffffff;
}
.testimonial_box:hover .jonimo_text {
  color: #ffffff !important;
}
.testimonial_box:hover .quick_icon_1 {
  display: block;
}
.testimonial_box:hover .quick_icon {
  display: none;
}
.testimonial_box:hover .jonimo_taital_main {
  border-bottom: 1px solid #ffffff;
}

.carousel-indicators {
  bottom: -100px;
}
.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #0a0a0a;
}

.carousel-indicators .active {
  width: 50px;
  /* background-color: #13a25d; */
  background-color: #fe4e7a;
}

.margin_top90 {
  margin-top: 90px;
}

/* testimonial section end */
